@import "tailwindcss";

/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: 200%;              /* 2 copies ek hi line me */
  animation: marquee 3s linear infinite;
}
/* .clip-hex {
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
} */
 @keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



.hexagon {
  -webkit-mask-image: url('/4.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask-image: url('/Rounded Hexagon PNGs.webp');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}


/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
